{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/changepass" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="oldpass" placeholder="Old password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="newpass" placeholder="New password" type="password" id="pass">
        </div>
        <div class="form-group">
            <input class="form-control" name="repeatpass" placeholder="Repeat password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}
